[submodule "xctool"]
	path = xctool
	url = https://github.com/facebook/xctool.git
	ignore = dirty
[submodule "submodules/ocmock"]
	path = submodules/ocmock
	url = https://github.com/erikdoe/ocmock.git
	ignore = dirty
